

font-default()
    font-family     "Helvetica Neue", Helvetica, sans-serif
    font-weight     300
    letter-spacing  1px
    line-height     130%

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

anim(opts)
    -webkit-transition:     opts;
    -moz-transition:        opts;
    -ms-transition:         opts;
    -o-transition:          opts;
    transition:             opts;
