

/**
 * -------------------------------------------------------
 * Width & Height
 */

width-app       = 320px
width-md        = 280px
width-sm        = 260px

height-app-sm   = 480px
height-app-md   = 568px


/**
 * -------------------------------------------------------
 * Colours
 */

grey-light          = #EAEAEA
grey-medium         = #999
grey-dark           = #3C3C3B
grey-dark-lightened = #4c4c4b

blue-regular        = #349aeb
red-regular         = #f06868


/**
 * -------------------------------------------------------
 * Fonts
 */


font-size-tn = 10px
font-size-xs = 11px
font-size-sm = 14px
font-size-md = 16px



/**
 * -------------------------------------------------------
 * Misc
 */

radius-size = 5px
anim-speed  = 0.3s


